/* Universal Styles */
html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica
}

h1,
h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
